{% extends 'ingame.html' %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block main %}
<div id='events'>
    {% if query %}
        {% for event in page.object_list %}
            <div class='event'>
                <textarea data-autoresize rows='1' spellcheck='false' class='content' onblur='save_event({{ event.pk }}, this)'>{{ event.content }}</textarea>
                <div class='edit'>
                    <div class='select'>
                        <select class='session'
                                onblur='save_event({{ event.pk }}, this)'>
                            {% for session in sessions %}
                                <option value={{ session.pk }}
                                {% if session.pk == event.session.pk %}
                                    selected='selected'
                                {% endif %}>Session {{ session.number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <a id='event_up' onClick='event_up({{ event.pk }})'>Move up</a>
                    <a id='event_down' onClick='event_down({{ event.pk }})'>Move down</a>
                    <a id='delete' onClick='del_event(this, {{ event.pk }})'>delete</a>
                </div>
            </div>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</div>
{% endblock %}

