{% extends 'ingame.html' %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block main %}
<div id='events'>
    {% for event in events %}
        <div class='event'>
            <textarea data-autoresize rows='1' spellcheck='false' class='content' onblur='save_event({{ event.pk }}, this)'>{{ event.content }}</textarea>
            <div class='edit'>
                {# TODO Thread selection #}
                <div class='select'>
                    <select class='session'
                            onblur='save_event({{ event.pk }}, this)'>
                        {% for session in sessions %}
                            <option value={{ session.pk }}
                            {% if session.pk == event.session.pk %}
                                selected='selected'
                            {% endif %}>Session {{ session.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a id='event_up' onClick='event_up({{ event.pk }})'>Move up</a>
                <a id='event_down' onClick='event_down({{ event.pk }})'>Move down</a>
                <a id='delete' onClick='del_event(this, {{ event.pk }})'>delete</a>
            </div>
        </div>
    {% endfor %}
    <a id='new_event' onclick='new_event({{ campaign.pk }}, {% if selected_session %}{{ selected_session }}{% else %}0{% endif %})'>+ New event</a>
</div>
{% endblock %}

