{% extends 'skeleton.html' %}

{% load staticfiles %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{% static 'outofgame.css' %}'/>
{% endblock %}

{% block content %}
<div id='top-bar'>
    <a href='{% url 'auth_login' %}'>Login</a>
</div>
<div id='top'>
    <h1>Managing your Camapaign made easy</h1>
    <div id='button-container'>
        <a class='button'  href=''>More Info</a>
        <a class='button' id='green' href='{% url 'auth_login' %}'>
            Get Started
        </a>
    </div>
</div>
<div id='bot'>
    <div class='info'>
        <span class='info'>
            Sorting all events by Sessions.
        </span>
        <img class='info' src='{% static 'camp.png' %}' />
    </div>
    <div class='info'>
        <span class='info'>
            Keep campaign-wide notes, all in one place.
        </span>
        <img class='info' src='{% static 'note.png' %}' />
    </div>
    <div class='info'>
        <span class='info'>
            Search through events and notes within seconds.
        </span>
        <img class='info' src='{% static 'search.png' %}' />
    </div>
</div>
{% endblock %}

