{% extends 'skeleton.html' %}

{% load staticfiles %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{% static 'ingame.css' %}'/>
<script src='https://code.jquery.com/jquery-1.11.2.min.js'></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script>
    $(document).ready(function() {
        jQuery.each(jQuery('textarea[data-autoresize]'), function() {
        var offset = this.offsetHeight - this.clientHeight;
        var resizeTextarea = function(el) {
            jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
            };
            jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
        });
    });
</script>
<script>
function save_event(id, ev) {
    ajaxPost('/'+id+'/save/', {'content': $(ev).val() }, function(content) {
    })
};
</script>
{% endblock %}

{% block content %}
<div id='sidebar'>
    <h1>{{ campaign.name }}</h1>
    <input type='text' id='search' placeholder='Search' />
    <div id='menu'>
        <h2>Threads</h2>
            <li{% if not selected_thread %}
                id='selected'
            {% endif %}><a href="{% url 'campaigns:campaign' campaign.pk %}{% if selected_session %}?session={{ selected_session }}{% endif %}">All</a></li>
            {% for thread in threads %}
                <li{% if selected_thread == thread.pk %}
                    id='selected'
                {% endif %}><a href="{% url 'campaigns:campaign' campaign.pk %}?thread={{ thread.pk }}{% if selected_session %}&session={{ selected_session }}{% endif %}">{{ thread.name }}</a></li>
            {% endfor %}
        <h2>Sessions</h2>
            <li {% if not selected_session %}
                id='selected'
            {% endif %}><a href="{% url 'campaigns:campaign' campaign.pk %}{% if selected_thread %}?thread={{ selected_thread }}{% endif %}">All</a></li>
            {% for session in sessions %}
                <li {% if selected_session == session.pk %}
                    id='selected'
                {% endif %}><a href="{% url 'campaigns:campaign' campaign.pk %}?session={{ session.pk }}{% if selected_thread %}&thread={{ selected_thread }}{% endif %}">Session {{ session.number }}</a></li>
            {% endfor %}
    </div>
    <div id='footer'>
        <a href="">Logout</a>
    </div>
</div>
<div id='events'>
    {% for event in events %}
        <div class='event'>
            <textarea data-autoresize rows='1' spellcheck='false' class='content' onblur='save_event({{ event.pk }}, this)'>{{ event.content }}</textarea>
            <div class='edit'>
                {# TODO Thread selection #}
                <div class='select'>
                    <select id='session'>
                        {% for session in sessions %}
                            <option value={{ session.pk }}
                            {% if session.pk == event.session.pk %}
                                selected='selected'
                            {% endif %}>Session {{ session.number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a id='delete' href="">delete</a>
            </div>
        </div>
    {% empty %}
        No events match your filtering criteria.
    {% endfor %}
</div>
{% endblock %}

