{% extends "skeleton.html" %}

{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block content_class %}account{% endblock %}

{% block head %}
<link rel='stylesheet' type='text/css' href='{% static 'outofgame.css' %}'/>
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><strong>{% trans "Settings" %}</strong></div>
    <div class="list-group">
        <a class="list-group-item account-settings" href="{% url "account_settings" %}">
            {% trans "Account" %}
        </a>
        <a class="list-group-item account-password" href="{% url "account_password" %}">
            {% trans "Change password" %}
        </a>
        <a class="list-group-item account-delete" href="{% url "account_delete" %}">
            {% trans "Delete account" %}
        </a>
    </div>
</div>
{% block account %}
{% endblock %}
{% endblock %}
