{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <h1>{% trans "Log in to an existing account" %}</h1>
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                <br />
                <br />
                <a style="font-size: .8em" href="{% url "account_password_reset" %}" class="btn btn-default">{% trans "Forgot your password?" %}</a>
            </form>
        </div>
        <div class="col-md-4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
