{% extends "account/base.html" %}

{% load url from future %}

{% block content_class %}account account-settings{% endblock %}

{% block head_title %}Account{% endblock %}

{% block account %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_settings" %}">
                <h1>Account</h1>
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
